@import "tailwindcss";

@theme {
  --shadow-hard: 2px 2px 0px 0px #000000;
  --shadow-small: 1px 1px 0px 0px #000000;
}

/* #2a9 */

/* no scrollbar */
:root {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
